.buildpath
.hgignore.swp
.project
.orig
.swp
.idea/
.settings/
.vscode/
bin/
**/.DS_Store
gf
main
main.exe
output/
manifest/output/
temp/
temp.yaml
bin
**/config/config.yaml

.local/postgres
node_modules/
dist/
dist-ssr/
build/
build-ssr/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
lerna-debug.log*
coverage/
.cache/
.next/
.nuxt/
out/
.astro/
public/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.venv